body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange_color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-with{
    width: 50%;
    padding-left: 5%;
}
.half-with img{
    width: 80%;
}
a{
    text-decoration: none;
}
.link-button{
    width: 300px;
    height: 300px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    background-color: orange;
    background-image:linear-gradient(orange,tomato);
    border-radius: 5px;
}
.top-banar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}